body {
  background: #dcdcdc;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

h1 {
  margin: 0 0 0 20px;
  font-size: 700;
  top: 15px;
}

h2 {
  margin: 3px 0 0 20px;
  border-bottom: 3px;
  font-size: 400;
}

ul {
  margin: 15px 0 30px 30px;
  list-style: circle;
}

p {
  margin: 15px 0 30px 50px;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #06c;
  border: 1px solid #06c;
  border-radius: 4px;
}

.container-fluid {
  align-items: center;
}

.profile-photo {
  width: 180px;
  height: 180px;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  border: solid 3px #b3b3b3;
  padding: 1px;
}

.identified {
  margin-left: 20px;
}

#photo-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
